{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="text-center">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        
        {{ form.title|as_crispy_field }}
        {{ form.content|as_crispy_field }}
        {{ form.descrption|as_crispy_field }}

        ゲームの重さ：{{ form.weight }}
        最小プレイ人数：{{ form.min_play }}
        <p class="mt-3">画像を選択：{{ form.image }}</p>

        <button class="btn btn-primary" type="submit">投稿</button>
    </form>
</div>

{% endblock content %}