{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="text-center mt-3">
    <h3>興味のあるボードゲームを探して、遊んでみたいボタンを押してみましょう！</h3>
</div>

<div class="accordion" id="collapse-accordion">
    <div class="card col-4">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-accordion-1" aria-expanded="true" aria-controls="collapse-accordion-1">
            ゲームの重さとは？
          </button>
        </h5>
      </div>
  
      <div id="collapse-accordion-1" class="collapse" aria-labelledby="headingOne" data-parent="#collapse-accordion">
        <div class="card-body">
          重量とは、主にゲームのプレイ時間を表します。<br>
          目安としては、
          <strong>軽量級</strong>：15～30分
          <strong>中量級</strong>：30分～90分
          <strong>重量級</strong>：90分～
          となっています
        </div>
      </div>
    </div>
</div>

{% for item in object_list %}

<div class="media">
    {% if item.image %}
        <img src="{{ item.image.url }}"
            class="align-self-center mr-3" alt="..." width="120">
    {% else %}
        <img src="{% static 'noimage.png' %}"
            class="align-self-center mr-3" alt="..." width="120">
    {% endif %}
    <div class="media-body">
        <h5 class="mt-0"><a href="{% url 'bgame:detail' item.pk %}">{{ item.title }}</a></h5>
        <p class="mt-0">{{ item.content }}</p>
        <p class="mt-0">このゲームの重さ：{{ item.weight }}</p>
    </div>
</div>

{% if not forloop.last %}
    <hr>
{% endif %}

{% endfor %}

{% endblock content %}
