{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- 画面上部 -->
<div class="row align-items-center my-5">
    <div class="col-lg-7">
        {% if top_object.image %}
            <img class="img-fluid rounded-circle mb-4 mb-lg-0" src="{{ top_object.image.url }}" alt="">
            <h2 class="text-center">{{ top_object.title }}</h2>
        {% else %}
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'noimage.png' %}" alt="">
        {% endif %}
    </div>

    <div class="col-lg-5">
        <h1 class="font-weight-light">ようこそ<strong class="text-success">BoardGate</strong>へ！</h1>
        <form action="{% url 'bgame:login' %}" method="POST">{% csrf_token %}
            <input type="text" name="username" placeholder="ユーザー名"><br>
            <input type="password" name="password" placeholder="パスワード"><br>
            <button type="submit" class="btn btn-primary mt-2">ログイン</button>
        </form>
        
        <hr>
        <a class="btn btn-success mt-2" href="{% url 'bgame:signup' %}">アカウント登録</a>
        <p>アカウントをお持ちでない方はこちら</p>
        {% if message %}
        <p class="alert alert-secondary" role="alert">{{ message }}</p>
        {% endif %}
    </div>
</div>


<!-- 画面中部 -->
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">現在こういったゲームが遊ばれています！</p>
    </div>
</div>

<!-- 画面下部 -->
<div class="row">

{% for item in bgame_list %}
<div class="col-md-4 mb-5">
    <div class="card h-100">
        {% if item.image %}
            <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.title }}"/>
        {% else %}
            <img class="card-img-top" src="{% static 'noimage.png' %}" alt="{{ item.title }}"/>
        {% endif %}
        <div class="card-body">
            <h2 class="card-title">{{ item.title }}</h2>
            <p class="card-text">{{ item.content }}</p>
        </div>
    </div>
</div>

{% endfor %}
</div>
<!-- /.row -->





{% endblock content %}
